<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>chat</title>
	<link href="https://lib.baomitu.com/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style/style.css">

	<%
		var userInfoJson = JSON.stringify(userInfo);
	%>

	<script type="text/javascript">
    	window.userInfo = <%-userInfoJson%>
    </script>

</head>
<body>
	<div class="container app">
	  <div class="row app-one">
	    <div class="col-sm-4 side">
	      <div class="side-one">
	        <div class="row heading">
	          <div class="col-sm-3 col-xs-3 heading-avatar">
	            <div class="heading-avatar-icon">
	              <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
	            </div>
	          </div>
	          <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
	            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
	          </div>
	          <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
	            <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
	          </div>
	        </div>

	        <div class="row searchBox">
	          <div class="col-sm-12 searchBox-inner">
	            <div class="form-group has-feedback">
	              <p class="text-primary sumOnlineNum"></p>
	              <strong>在线用户：</strong>
	              <p class="addMessage"></p>
	            </div>
	          </div>
	        </div>

	        <div class="row sideBar" id="userList">
	          
	        </div>
	      </div>

	      <div class="side-two">
	        <div class="row newMessage-heading">
	          <div class="row newMessage-main">
	            <div class="col-sm-2 col-xs-2 newMessage-back">
	              <i class="fa fa-arrow-left" aria-hidden="true"></i>
	            </div>
	            <div class="col-sm-10 col-xs-10 newMessage-title">
	              New Chat
	            </div>
	          </div>
	        </div>

	        <div class="row composeBox">
	          <div class="col-sm-12 composeBox-inner">
	            <div class="form-group has-feedback">
	              <input id="composeText" type="text" class="form-control" name="searchText" placeholder="Search People">
	              <span class="glyphicon glyphicon-search form-control-feedback"></span>
	            </div>
	          </div>
	        </div>

	     
	      </div>
	    </div>

	    <div class="col-sm-8 conversation">
	      <div class="row heading">
	        <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
	          <div class="heading-avatar-icon">
	            <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
	          </div>
	        </div>
	        <div class="col-sm-8 col-xs-7 heading-name">
	          <a class="heading-name-meta"><%=result.name%>
	          </a>
	          <span class="heading-online">Online</span>
	        </div>
	        <div class="col-sm-1 col-xs-1  heading-dot pull-right">
	          <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
	        </div>
	      </div>

	      <div class="row message" id="conversation">
	       


	      <div class="row reply">
	        <div class="col-sm-1 col-xs-1 reply-emojis">
	          <i class="fa fa-smile-o fa-2x"></i>
	        </div>
	        <div class="col-sm-11 col-xs-11 reply-main  reply-send">
	          <textarea class="form-control" rows="1" id="m" data-id="<%=userInfo.id%>" data-name="<%=userInfo.name%>"></textarea>
	        </div>
	        <!-- <div class="col-sm-1 col-xs-1 reply-recording" style="display: none;">
	          <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
	        </div>
	        <div class="col-sm-1 col-xs-1 reply-send">
	          <i class="fa fa-send fa-2x" aria-hidden="true"></i>
	        </div> -->
	      </div>
	    </div>
	  </div>
	</div>
    
	
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/socket.io/2.1.1/socket.io.js"></script>
    <script type="text/javascript" src="js/getLocalIP.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    
</body>
</html>